{% extends 'layout.html' %} {% block content %}
<!-- Navbar start-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">All products</a>
          </li>

          <div class="dropdown">
            <div
              class="btn dropdown-toggle"
              type="text"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Brands
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for brand in brands %}
              <a
                class="dropdown-item"
                href="{{url_for('get_brand', id=brand.id)}}"
                >{{brand.name}}</a
              >
              {% endfor %}
            </div>
          </div>

          <div class="dropdown">
            <div
              class="btn dropdown-toggle"
              type="text"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for cat in categories %}
              <a
                class="dropdown-item"
                href="{{url_for('get_category', id=cat.id)}}"
                >{{cat.name}}</a
              >
              {% endfor %}
            </div>
          </div>
          <li class="nav-item">
            <a href="{{url_for('getcarts')}}" class="nav-link" tabindex="-1">
              Cart ({{session['Shoppingcart']|length}})</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar end -->
<div class="container mt-5">
  <div class="row">
    {% if brand %} {% for b in brand.items %}
    <div class="col-md-3">
      <div class="card mb-4">
        <img
          src="{{url_for('static', filename='images/' + b.image_1)}}"
          alt="{{b.name}}"
          class="card-img-top"
          height="200"
        />
        <div class="card-body">
          <h5 class="text-center">{{b.name}}</h5>
          <p class="text-center">Price: ${{b.price}}</p>
          {% if b.discount > 0 %}
          <h5
            style="
              text-shadow: 1px 1px 2px black;
              color: #f00;
              transform: rotate(-15deg);
              position: absolute;
              top: 20%;
              left: 20%;
            "
            class="text-center"
          >
            Discount: {{b.discount}}%
          </h5>
          {% endif %}
        </div>
        <div class="card-footer text-center">
          <a href="{{url_for('single_page', id=b.id)}}" class="float-left btn btn-sn btn-warning">Details</a>
          <form action="{{url_for('AddCart')}}" method="post">
            <input type="hidden" name="product_id" value="{{b.id}}" />
            <button type="submit" class="btn-sm btn-primary float-right">Add Cart</button>
        
            <input
              type="hidden"
              name="quantity"
              id=""
              value="1"
              min="1"
              max="{{b.stock}}"
            />
            {% set colors = b.colors.split(',') %}
          
            <select name="colors" id="colors" style="visibility: hidden;">
              {% for color in colors %} {% set col = color.split(':') %}
              <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
              {% endfor%}
            </select>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
      <div class="row">
      <div class="col text text-center mt-2">
        {% if brand.has_prev %}
          <a href="{{ url_for('get_brand', page=brand.prev_num) }}" class="btn btn-outline-info btn-sm">Previous</a>
        {% endif %}

        {% if brand.total > 4 %}

          {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %} 
            {% if page_num %}
              {% if brand.page == page_num %}
                <a href="{{ url_for('get_brand', id=get_brand.id, page=page_num) }}" class="btn btn-info btn-sm">{{page_num}}</a>
              {% else %}
                <a href="{{ url_for('get_brand', id=get_brand.id, page=page_num) }}" class="btn btn-outline-info btn-sm">{{page_num}}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
          {% endfor %}

        {% endif %}

        {% if brand.has_next %}
          <a href="{{ url_for('get_brand', id=get_brand.id, page=brand.next_num) }}" class="btn btn-outline-info btn-sm">Next</a>
        {% endif %}
      </div>
    </div>

  <div class="row"></div>
    {% elif cat %} {% for c in cat.items %}
    
    <div class="col-md-3">
      <div class="card mb-4">
        <img
          src="{{url_for('static', filename='images/' + c.image_1)}}"
          alt="{{c.name}}"
          class="card-img-top"
          height="200"
        />
        <div class="card-body">
          <h5 class="text-center">{{c.name}}</h5>
          <p class="text-center">Price: ${{c.price}}</p>
          {% if c.discount > 0 %}
          <h5
            style="
              text-shadow: 1px 1px 2px black;
              color: #f00;
              transform: rotate(-15deg);
              position: absolute;
              top: 20%;
              left: 20%;
            "
            class="text-center"
          >
            Discount: {{c.discount}}%
          </h5>
          {% endif %}
        </div>
        <div class="card-footer text-center">
          <a href="{{url_for('single_page', id=c.id)}}" class="float-left btn btn-sn btn-warning">Details</a>
          <form action="{{url_for('AddCart')}}" method="post">
            <input type="hidden" name="product_id" value="{{c.id}}" />
            <button type="submit" class="btn-sm btn-primary float-right">Add Cart</button>
        
            <input
              type="hidden"
              name="quantity"
              id=""
              value="1"
              min="1"
              max="{{c.stock}}"
            />
            {% set colors = c.colors.split(',') %}
          
            <select name="colors" id="colors" style="visibility: hidden;">
              {% for color in colors %} {% set col = color.split(':') %}
              <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
              {% endfor%}
            </select>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} 
    </div>
    <div class="row">
      <div class="col text text-center mt-2">
        {% if cat.has_prev %}
          <a href="{{ url_for('get_category', id=get_cat.id, page=cat.prev_num) }}" class="btn btn-outline-info btn-sm">Previous</a>
        {% endif %}
        
        {% if cat.total > 4 %}

            {% for page_num in cat.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %} 
              {% if page_num %}
                {% if cat.page == page_num %}
                  <a href="{{ url_for('get_category', id=get_cat.id, page=page_num) }}" class="btn btn-info btn-sm">{{page_num}}</a>
                {% else %}
                  <a href="{{ url_for('get_category', id=get_cat.id, page=page_num) }}" class="btn btn-outline-info btn-sm">{{page_num}}</a>
                {% endif %}
              {% else %}
                ...
              {% endif %}
            {% endfor %}

        {%endif %}

        {% if cat.has_next %}
          <a href="{{ url_for('get_category', id=get_cat.id, page=cat.next_num) }}" class="btn btn-outline-info btn-sm">Next</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
    {% else %} 
    {% for product in products.items %}
    <div class="col-md-3">
      <div class="card mb-4">
        <img
          src="{{url_for('static', filename='images/' + product.image_1)}}"
          alt="{{product.name}}"
          class="card-img-top"
          height="200"
        />
        <div class="card-body">
          <h5 class="text-center">{{product.name}}</h5>
          <p class="text-center">Price: ${{product.price}}</p>
          {% if product.discount > 0 %}
          <h5
            style="
              text-shadow: 1px 1px 2px black;
              color: #f00;
              transform: rotate(-15deg);
              position: absolute;
              top: 20%;
              left: 20%;
            "
            class="text-center"
          >
            Discount: {{product.discount}}%
          </h5>
          {% endif %}
        </div>
        <div class="card-footer text-center">
          <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sm btn-warning">Details</a>

        <form action="{{url_for('AddCart')}}" method="post">
        <input type="hidden" name="product_id" value="{{product.id}}" />
        <button type="submit" class="btn-sm btn-primary float-right">Add Cart</button>
     
        <input
          type="hidden"
          name="quantity"
          id=""
          value="1"
          min="1"
          max="{{product.stock}}"
        />
        {% set colors = product.colors.split(',') %}
       
        <select name="colors" id="colors" style="visibility: hidden;">
          {% for color in colors %} {% set col = color.split(':') %}
          <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
          {% endfor%}
        </select>
      </form>
        </div>
      </div>
    </div>
    {% endfor %} 
    </div>
    <div class="row">
      <div class="col text text-center mt-2">
        {% if products.has_prev %}
          <a href="{{ url_for('home', page=products.prev_num) }}" class="btn btn-outline-info btn-sm">Previous</a>
        {% endif %}

        {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %} 
          {% if page_num %}
            {% if products.page == page_num %}
              <a href="{{ url_for('home', page=page_num) }}" class="btn btn-info btn-sm">{{page_num}}</a>
            {% else %}
              <a href="{{ url_for('home', page=page_num) }}" class="btn btn-outline-info btn-sm">{{page_num}}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}

        {% if products.has_next %}
          <a href="{{ url_for('home', page=products.next_num) }}" class="btn btn-outline-info btn-sm">Next</a>
        {% endif %}
      </div>
    </div>
   {% endif%}
</div>

{% endblock content %}
